

<!DOCTYPE html>
<html class="writer-html5" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Run the Full Config playbook &mdash; ansible-lab  documentation</title>
  

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script src="../_static/jquery.js"></script>
        <script src="../_static/underscore.js"></script>
        <script src="../_static/doctools.js"></script>
        <script src="../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Run the Get Facts playbook" href="../05-get-facts/get-facts.html" />
    <link rel="prev" title="Run the Hello World playbook" href="../03-hello-world/hello-world.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../index.html" class="icon icon-home" alt="Documentation Home"> ansible-lab
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../01-getting-started/getting-started.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../02-check-ready/check-ready.html">Run the Check Ready playbook</a></li>
<li class="toctree-l1"><a class="reference internal" href="../03-hello-world/hello-world.html">Run the Hello World playbook</a></li>
<li class="toctree-l1 current"><a class="current reference internal" href="#">Run the Full Config playbook</a></li>
<li class="toctree-l1"><a class="reference internal" href="../05-get-facts/get-facts.html">Run the Get Facts playbook</a></li>
<li class="toctree-l1"><a class="reference internal" href="../06-upgrade/upgrade.html">Run the Upgrade playbook</a></li>
<li class="toctree-l1"><a class="reference internal" href="../07-summary/summary.html">Summary</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">ansible-lab</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
        
      <li>Run the Full Config playbook</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/04-full-config/full-config.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="run-the-full-config-playbook">
<h1>Run the Full Config playbook<a class="headerlink" href="#run-the-full-config-playbook" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal notranslate"><span class="pre">full_config.yml</span></code> playbook will create a full PAN-OS configuration using
several different modules, then commits the configuration.  For more
information, see the documentation pages for the modules used:</p>
<ul class="simple">
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_interface.html">panos_interface</a></p></li>
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_zone.html">panos_zone</a></p></li>
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_address_object.html">panos_address_object</a></p></li>
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_service_object.html">panos_service_object</a></p></li>
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_security_rule.html">panos_security_rule</a></p></li>
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_nat_rule.html">panos_nat_rule</a></p></li>
<li><p><a class="reference external" href="https://paloaltonetworks.github.io/pan-os-ansible/modules/panos_commit.html">panos_commit</a></p></li>
</ul>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="o">---</span>
<span class="o">-</span> <span class="n">hosts</span><span class="p">:</span> <span class="n">lab_fw</span>
  <span class="n">connection</span><span class="p">:</span> <span class="n">local</span>

  <span class="nb">vars</span><span class="p">:</span>
    <span class="n">device</span><span class="p">:</span>
      <span class="n">ip_address</span><span class="p">:</span> <span class="s1">&#39;{{ ip_address }}&#39;</span>
      <span class="n">username</span><span class="p">:</span> <span class="s1">&#39;{{ username | default(omit) }}&#39;</span>
      <span class="n">password</span><span class="p">:</span> <span class="s1">&#39;{{ password | default(omit) }}&#39;</span>
      <span class="n">api_key</span><span class="p">:</span> <span class="s1">&#39;{{ api_key | default(omit) }}&#39;</span>

    <span class="n">interfaces</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">if_name</span><span class="p">:</span> <span class="s1">&#39;ethernet1/1&#39;</span>
        <span class="n">mode</span><span class="p">:</span> <span class="s1">&#39;layer3&#39;</span>
        <span class="n">enable_dhcp</span><span class="p">:</span> <span class="n">true</span>
        <span class="n">create_default_route</span><span class="p">:</span> <span class="n">true</span>
      <span class="o">-</span> <span class="n">if_name</span><span class="p">:</span> <span class="s1">&#39;ethernet1/2&#39;</span>
        <span class="n">mode</span><span class="p">:</span> <span class="s1">&#39;layer3&#39;</span>
        <span class="n">enable_dhcp</span><span class="p">:</span> <span class="n">true</span>

    <span class="n">zones</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">zone</span><span class="p">:</span> <span class="s1">&#39;untrust&#39;</span>
        <span class="n">mode</span><span class="p">:</span> <span class="s1">&#39;layer3&#39;</span>
        <span class="n">interfaces</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;ethernet1/1&#39;</span><span class="p">]</span>
      <span class="o">-</span> <span class="n">zone</span><span class="p">:</span> <span class="s1">&#39;trust&#39;</span>
        <span class="n">mode</span><span class="p">:</span> <span class="s1">&#39;layer3&#39;</span>
        <span class="n">interfaces</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;ethernet1/2&#39;</span><span class="p">]</span>

    <span class="n">address_objects</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;web-srv&#39;</span>
        <span class="n">value</span><span class="p">:</span> <span class="s1">&#39;10.5.2.10&#39;</span>
      <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;db-srv&#39;</span>
        <span class="n">value</span><span class="p">:</span> <span class="s1">&#39;10.5.2.11&#39;</span>

    <span class="n">service_objects</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;service-tcp-221&#39;</span>
        <span class="n">protocol</span><span class="p">:</span> <span class="s1">&#39;tcp&#39;</span>
        <span class="n">destination_port</span><span class="p">:</span> <span class="s1">&#39;221&#39;</span>
      <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;service-tcp-222&#39;</span>
        <span class="n">protocol</span><span class="p">:</span> <span class="s1">&#39;tcp&#39;</span>
        <span class="n">destination_port</span><span class="p">:</span> <span class="s1">&#39;222&#39;</span>

    <span class="n">security_rules</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;Allow ping&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">application</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;ping&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;application-default&#39;</span><span class="p">]</span>
        <span class="n">action</span><span class="p">:</span> <span class="s1">&#39;allow&#39;</span>

      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;Allow SSH inbound&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;untrust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;trust&#39;</span><span class="p">]</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="s1">&#39;any&#39;</span>
        <span class="n">application</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;ssh&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;service-tcp-221&#39;</span><span class="p">,</span> <span class="s1">&#39;service-tcp-222&#39;</span><span class="p">]</span>
        <span class="n">action</span><span class="p">:</span> <span class="s1">&#39;allow&#39;</span>

      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;Add web inbound rule&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;untrust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;trust&#39;</span><span class="p">]</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">application</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;web-browsing&#39;</span><span class="p">,</span> <span class="s1">&#39;ssl&#39;</span><span class="p">,</span> <span class="s1">&#39;blog-posting&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;application-default&#39;</span><span class="p">]</span>
        <span class="n">action</span><span class="p">:</span> <span class="s1">&#39;allow&#39;</span>

      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;Allow all outbound&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;trust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;untrust&#39;</span><span class="p">]</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">application</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;application-default&#39;</span><span class="p">]</span>
        <span class="n">action</span><span class="p">:</span> <span class="s1">&#39;allow&#39;</span>

    <span class="n">inbound_nat_rules</span><span class="p">:</span>
      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;Web SSH&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;untrust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="s1">&#39;untrust&#39;</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;10.5.1.4&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="s1">&#39;service-tcp-221&#39;</span>
        <span class="n">snat_type</span><span class="p">:</span> <span class="s1">&#39;dynamic-ip-and-port&#39;</span>
        <span class="n">snat_interface</span><span class="p">:</span> <span class="s1">&#39;ethernet1/2&#39;</span>
        <span class="n">dnat_address</span><span class="p">:</span> <span class="s1">&#39;web-srv&#39;</span>
        <span class="n">dnat_port</span><span class="p">:</span> <span class="s1">&#39;22&#39;</span>

      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;DB SSH&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;untrust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="s1">&#39;untrust&#39;</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;10.5.1.4&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="s1">&#39;service-tcp-222&#39;</span>
        <span class="n">snat_type</span><span class="p">:</span> <span class="s1">&#39;dynamic-ip-and-port&#39;</span>
        <span class="n">snat_interface</span><span class="p">:</span> <span class="s1">&#39;ethernet1/2&#39;</span>
        <span class="n">dnat_address</span><span class="p">:</span> <span class="s1">&#39;db-srv&#39;</span>
        <span class="n">dnat_port</span><span class="p">:</span> <span class="s1">&#39;22&#39;</span>

      <span class="o">-</span> <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;WordPress NAT&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;untrust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="s1">&#39;untrust&#39;</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;10.5.1.4&#39;</span><span class="p">]</span>
        <span class="n">service</span><span class="p">:</span> <span class="s1">&#39;service-http&#39;</span>
        <span class="n">snat_type</span><span class="p">:</span> <span class="s1">&#39;dynamic-ip-and-port&#39;</span>
        <span class="n">snat_interface</span><span class="p">:</span> <span class="s1">&#39;ethernet1/2&#39;</span>
        <span class="n">dnat_address</span><span class="p">:</span> <span class="s1">&#39;web-srv&#39;</span>
        <span class="n">dnat_port</span><span class="p">:</span> <span class="s1">&#39;80&#39;</span>

  <span class="n">vars_files</span><span class="p">:</span>
    <span class="o">-</span> <span class="n">creds</span><span class="o">.</span><span class="n">yml</span>

  <span class="n">collections</span><span class="p">:</span>
    <span class="o">-</span> <span class="n">paloaltonetworks</span><span class="o">.</span><span class="n">panos</span>

  <span class="n">tasks</span><span class="p">:</span>
    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Configure</span> <span class="n">interfaces</span>
      <span class="n">panos_interface</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">template</span><span class="p">:</span> <span class="s1">&#39;{{ template | default(omit) }}&#39;</span>
        <span class="n">if_name</span><span class="p">:</span> <span class="s1">&#39;{{ item.if_name }}&#39;</span>
        <span class="n">mode</span><span class="p">:</span> <span class="s1">&#39;{{ item.mode }}&#39;</span>
        <span class="n">enable_dhcp</span><span class="p">:</span> <span class="s1">&#39;{{ item.enable_dhcp }}&#39;</span>
        <span class="n">create_default_route</span><span class="p">:</span> <span class="s1">&#39;{{ item.create_default_route | default(omit) }}&#39;</span>
        <span class="n">commit</span><span class="p">:</span> <span class="n">false</span>
      <span class="n">with_items</span><span class="p">:</span> <span class="s1">&#39;{{ interfaces }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">network</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Configure</span> <span class="n">zones</span>
      <span class="n">panos_zone</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">template</span><span class="p">:</span> <span class="s1">&#39;{{ template | default(omit) }}&#39;</span>
        <span class="n">zone</span><span class="p">:</span> <span class="s1">&#39;{{ item.zone }}&#39;</span>
        <span class="n">mode</span><span class="p">:</span> <span class="s1">&#39;{{ item.mode }}&#39;</span>
        <span class="n">interface</span><span class="p">:</span> <span class="s1">&#39;{{ item.interfaces }}&#39;</span>
      <span class="n">with_items</span><span class="p">:</span> <span class="s1">&#39;{{ zones }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">network</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Create</span> <span class="n">address</span> <span class="n">objects</span>
      <span class="n">panos_address_object</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">device_group</span><span class="p">:</span> <span class="s1">&#39;{{ device_group | default(omit) }}&#39;</span>
        <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;{{ item.name }}&#39;</span>
        <span class="n">value</span><span class="p">:</span> <span class="s1">&#39;{{ item.value }}&#39;</span>
        <span class="n">commit</span><span class="p">:</span> <span class="n">false</span>
      <span class="n">with_items</span><span class="p">:</span> <span class="s1">&#39;{{ address_objects }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">objects</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Create</span> <span class="n">service</span> <span class="n">objects</span>
      <span class="n">panos_service_object</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">device_group</span><span class="p">:</span> <span class="s1">&#39;{{ device_group|default(omit) }}&#39;</span>
        <span class="n">name</span><span class="p">:</span> <span class="s1">&#39;{{ item.name }}&#39;</span>
        <span class="n">protocol</span><span class="p">:</span> <span class="s1">&#39;{{ item.protocol }}&#39;</span>
        <span class="n">destination_port</span><span class="p">:</span> <span class="s1">&#39;{{ item.destination_port }}&#39;</span>
        <span class="n">commit</span><span class="p">:</span> <span class="n">false</span>
      <span class="n">with_items</span><span class="p">:</span> <span class="s1">&#39;{{ service_objects }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">objects</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Create</span> <span class="n">security</span> <span class="n">rules</span>
      <span class="n">panos_security_rule</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">device_group</span><span class="p">:</span> <span class="s1">&#39;{{ device_group | default(omit) }}&#39;</span>
        <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;{{ item.rule_name }}&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="s1">&#39;{{ item.source_zone }}&#39;</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="s1">&#39;{{ item.source_ip }}&#39;</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="s1">&#39;{{ item.destination_zone }}&#39;</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="s1">&#39;{{ item.destination_ip }}&#39;</span>
        <span class="n">application</span><span class="p">:</span> <span class="s1">&#39;{{ item.application }}&#39;</span>
        <span class="n">service</span><span class="p">:</span> <span class="s1">&#39;{{ item.service }}&#39;</span>
        <span class="n">action</span><span class="p">:</span> <span class="s1">&#39;{{ item.action }}&#39;</span>
        <span class="n">commit</span><span class="p">:</span> <span class="n">false</span>
      <span class="n">with_items</span><span class="p">:</span> <span class="s1">&#39;{{ security_rules }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">security_rules</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Create</span> <span class="n">inbound</span> <span class="n">NAT</span> <span class="n">rules</span>
      <span class="n">panos_nat_rule</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">device_group</span><span class="p">:</span> <span class="s1">&#39;{{ device_group | default(omit) }}&#39;</span>
        <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;{{ item.rule_name }}&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="s1">&#39;{{ item.source_zone }}&#39;</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="s1">&#39;{{ item.source_ip }}&#39;</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="s1">&#39;{{ item.destination_zone }}&#39;</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="s1">&#39;{{ item.destination_ip }}&#39;</span>
        <span class="n">service</span><span class="p">:</span> <span class="s1">&#39;{{ item.service }}&#39;</span>
        <span class="n">snat_type</span><span class="p">:</span> <span class="s1">&#39;{{ item.snat_type }}&#39;</span>
        <span class="n">snat_interface</span><span class="p">:</span> <span class="s1">&#39;{{ item.snat_interface }}&#39;</span>
        <span class="n">dnat_address</span><span class="p">:</span> <span class="s1">&#39;{{ item.dnat_address }}&#39;</span>
        <span class="n">dnat_port</span><span class="p">:</span> <span class="s1">&#39;{{ item.dnat_port }}&#39;</span>
        <span class="n">commit</span><span class="p">:</span> <span class="n">false</span>
      <span class="n">with_items</span><span class="p">:</span> <span class="s1">&#39;{{ inbound_nat_rules }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">nat_rules</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Create</span> <span class="n">outbound</span> <span class="n">NAT</span> <span class="n">rule</span>
      <span class="n">panos_nat_rule</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">device_group</span><span class="p">:</span> <span class="s1">&#39;{{ device_group | default(omit) }}&#39;</span>
        <span class="n">rule_name</span><span class="p">:</span> <span class="s1">&#39;Outbound NAT&#39;</span>
        <span class="n">source_zone</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;trust&#39;</span><span class="p">]</span>
        <span class="n">source_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">destination_zone</span><span class="p">:</span> <span class="s1">&#39;untrust&#39;</span>
        <span class="n">destination_ip</span><span class="p">:</span> <span class="p">[</span><span class="s1">&#39;any&#39;</span><span class="p">]</span>
        <span class="n">snat_type</span><span class="p">:</span> <span class="s1">&#39;dynamic-ip-and-port&#39;</span>
        <span class="n">snat_interface</span><span class="p">:</span> <span class="s1">&#39;ethernet1/1&#39;</span>
        <span class="n">commit</span><span class="p">:</span> <span class="n">false</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">nat_rules</span>

    <span class="o">-</span> <span class="n">name</span><span class="p">:</span> <span class="n">Commit</span> <span class="n">the</span> <span class="n">candidate</span> <span class="n">configuration</span>
      <span class="n">panos_commit</span><span class="p">:</span>
        <span class="n">provider</span><span class="p">:</span> <span class="s1">&#39;{{ device }}&#39;</span>
        <span class="n">device_group</span><span class="p">:</span> <span class="s1">&#39;{{ device_group | default(omit) }}&#39;</span>
        <span class="n">include_template</span><span class="p">:</span> <span class="s1">&#39;{{ template | default(omit) }}&#39;</span>
      <span class="n">tags</span><span class="p">:</span> <span class="n">commit</span>
</pre></div>
</div>
<p>Run the playbook with <code class="docutils literal notranslate"><span class="pre">ansible-playbook</span></code>:</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span>ansible-playbook -i inventory full_config.yml --ask-vault-pass
</pre></div>
</div>
<p>Output:</p>
<div class="figure align-default">
<img alt="../_images/full-config-1.png" src="../_images/full-config-1.png" />
</div>
<div class="figure align-default">
<img alt="../_images/full-config-2.png" src="../_images/full-config-2.png" />
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../05-get-facts/get-facts.html" class="btn btn-neutral float-right" title="Run the Get Facts playbook" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="../03-hello-world/hello-world.html" class="btn btn-neutral float-left" title="Run the Hello World playbook" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2020, Palo Alto Networks

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>